<!DOCTYPE html>
<html{% block html_attribs %} lang="en"{% endblock %}>
{%- block html %}
    
    <head> 
    {%- block head %}

        {%- block favicons %}
        <link type="image/x-icon" href="static/assets/icons/pes_logo.png" rel="shortcut icon">
        {%- endblock %}

        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        {%- block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google" content="notranslate">
        <meta http-equiv="Content-Language" content="en" />
        {%- endblock %}

        {%- block dependencies %}
            
            <link rel="stylesheet" href="static/third/bootstrap/css/bootstrap.min.css" />

            <link rel="stylesheet" href="static/third/font-awesome/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/placements.css')}}"/>
           

            <script src="static/third/jquery/3.2.1.min.js" type="text/javascript"></script>
            <script src="static/third/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        {%- endblock %}

        {%- block styles %}
         
        {%- endblock %}
        
    {%- endblock %}
    </head>

    <body>
    {%- block body %}
        <div class ="container">
        {%- block navbar %}
        <div class = "row" >
            <div class="header">
                {%- block menu_action %}
                {%- endblock %}
                <div class="logo">
                    <a class = "brand logo dd" href = "{% if session.get('logged_in') %} {{ url_for('views.home') }}  {% else %} {{ url_for('views.index')}} {% endif %}">
                        <img class ="icon-logo" src="static/assets/icons/pes_logo.png" alt = ""/>
                        <span>PES Placements</span>
                    </a>
                {%- block dropdown %}
                {%- endblock %}
                 </div>
            </div>
                {%- block sidebar %}
                {%- endblock %}
        {%- endblock %}
        </div>
        {%- block content %}
        {%- endblock %}
        {%- block scripts %}
            <script src="{{ url_for('static', filename='js/home.js') }}" type="text/javascript"></script>
        {%- endblock %}
    </div>
    {%- endblock %}
    </body>

{%- endblock html %}
</html>