{%- extends "home.html" %}
{%- block content %}

	<div class="jumbotron">
		{%for company in companies%}
		<center>
			<div class="well">
				{%if company[0] in registered%}
					<h2>{{company[1]}}</h2><h3>{{company[3]}} on {{company[2]}} 
					</h3><h6 style="color:green">Registered!</h6>
				{%else%}
					<h2>{{company[1]}}</h2><h3>{{company[3]}} on {{company[2]}} 
				{%endif%}
			</h3></div>
		</center>
		{%endfor%}
	</div>

	<script>
		$(".sidebar a").removeClass("active");
		$("#comp_timeline").addClass("active");
	</script>
{%- endblock %}