{%- extends "home.html" %}
{%- block content %}

	<div>
		{%for company in companies%}
		<center>
			<div style="border:1px;border-style:dashed;border-color:red">
				{%if company[0] in registered%}
					<h1>{{company[1]}}</h1><h2>{{company[3]}} on {{company[2]}} 
					</h2><h6 style="color:green">Registered!</h6>
				{%else%}
					<h1>{{company[1]}}</h1><h2>{{company[3]}} on {{company[2]}} 
				{%endif%}
			</h2></div>
		</center>
		{%endfor%}
	</div>
	<script>
		$(".sidebar a").removeClass("active");
		$("#comp_timeline").addClass("active");
	</script>
{%- endblock %}