{% extends "base.html" %}
{%- block title %} Login / Signup - PES Placements {%- endblock %} 
{%- block styles %}
	<link href="{{url_for('static', filename='styles/login.css')}}" rel="stylesheet" />
{%- endblock %}

{%- block content %}
 <div class= "row">
  <div class="form">
      
      <ul class="tab-group" >
        <li class="tab"><a>Sign Up</a></li>
        <li class="tab active"><a >Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup" class ="hidden">   
          <h1>Sign Up</h1>
          
          <form action="{{ url_for('views.signup') }}" method=post>
          
          
          <div class="field-wrap">
              <input type="text" required name="username" maxlength="20" class = "inp-element" autocomplete="off" placeholder=" Username*"/>
          </div>

          <div class="field-wrap">
              <input type="text" name="name" maxlength="60" class = "inp-element" required autocomplete="off" placeholder=" Full Name*"/>
          </div>

          <div class="field-wrap">
            <input type="email"required name="email" class = "inp-element" autocomplete="off" placeholder=" Email Address*"/>
          </div>
          
          <div class="field-wrap">

            <input type="password"required name="password" class = "inp-element" autocomplete="off" placeholder=" Password*"  />
          </div>

          <div class="field-wrap">
              <input type="number" required name="cgpa" step = "0.01" step = "0.1" max="10" min="0" class = "inp-element" autocomplete="off" placeholder=" CGPA*"/>
          </div>

          <div class="field-wrap">
              <input type="number" required name="sec_cgpa" step = "0.01" class = "inp-element" autocomplete="off" placeholder=" PU/XII CGPA*"/>
          </div>


          <div class="field-wrap">
              <input type="number" required name="prim_cgpa" step = "0.01" max="10" min="0" class = "inp-element" autocomplete="off" placeholder=" X CGPA*"/>
          </div>

          <div class="field-wrap">
              <input type="text" required name="contact" minlength="10" maxlength="10" class = "inp-element" autocomplete="off" placeholder=" Contact No.*"/>
          </div>

          <div class="field-wrap">
              <input type="number" required name="backlogs"  step="1" min = "0" max="5" class = "inp-element" autocomplete="off" placeholder="No. of backlogs*"/>
          </div>

          <div class="field-wrap">
              <select name="dept" required>
                <option value="">Choose Department</option>
                <option value="CS">Computer Science Engineering</option>
                <option value="IS">Information Science Engineering</option>
                <option value="ME">Mechanical Engineering</option>
                <option value="EEE">Electrical Engineering</option>
                <option value="EC">Electronic Engineering</option>
              </select>
          </div>
          
          <input type="submit" class="button button-block inp-element" Value="Get Started" style="background-color: #3498DB;"/>
          </form>

        </div>
        
        <div id="login" class="visible">   
          <h1>Welcome Back!</h1>
          
          <form action="{{ url_for('views.login') }}" method=post>
          
            <div class="field-wrap">
            <input type="username" name=username required class = "inp-element" autocomplete="off" placeholder="Username*" />
          </div>

          <div class="field-wrap">
            <input type="password"required name=password class = "inp-element" autocomplete="off" placeholder="Password*"  />
          </div>
          
          <!--p class="forgot"><a href="#">Forgot Password?</a></p-->
          
          <input type="submit" class="button button-block inp-element" value="Log In" style="background-color: #3498DB;" />
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
	</div> <!-- /form -->
	</div>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
</div>

{%- endblock %}


