{%- extends "home.html" %}
{%- block styles %}
{%- endblock %}
{%- block content %}
<div class="main">
  <div class="hipsum">
	<div class="jumbotron">
		<div class="container">
			<div class="row top-bottom-buffer">
				<div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center"><h1 class="page-header profile-heading"> Profile</h1>
				 </div>
			</div>
			<div class="row bottom-buffer">
				<div class = "table-content">
				<table class="table text-centered table-layout">
				<tr>
					<td class="left-column">
						Full &nbsp Name
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<span id="name" class="profile-data">{{session['user'].name}}</span>
					</td>
				</tr>
				<tr>
					<td class="left-column">
						Department
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<span id="dept" class="profile-data">{{session['user'].dept}}</span>
					</td>
				</tr>
				<tr>
					<td class="left-column">
						CGPA
					</td>
					<td>
						:
					</td>
					<td class = "right-column">
						<span id="cgpa" class="profile-data">{{session['user'].cgpa}}</span>
					</td>
				</tr>
				<tr>
					<td class="left-column">
						PU &nbsp CGPA
					</td>
					<td>
						:
					</td>
					<td class = "right-column">
						<span id="sec_cgpa" class="profile-data">{{session['user'].sec_cgpa}}</span>
					</td>
				</tr>
				<tr>
					<td class="left-column">
						X &nbsp CGPA
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<span id="prim_cgpa" class="profile-data">{{session['user'].prim_cgpa}}</span>
					</td>
				</tr>
				<tr>
					<td class="left-column">
						Backlogs
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<span id="backlogs" class="profile-data">{{session['user'].backlogs}}</span>
					</td>
				</tr>
				</table>
				</div>
			</div>
			<div class="row top-bottom-buffer">
				<div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center"><h1 class="page-header profile-heading"> Account</h1></div>
			</div>
			<div class="row bottom-buffer">
				<div class = "table-content">
					<table class="table text-centered table-layout">
				<tr>
					<td class="left-column">
						Username
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<span id="username" value="{{ session['user'].username }}"class="account-data">{{ session['user'].username }}</span>
					</td>
				</tr>
				<tr>
					<td class="left-column">
						Email Id
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<span id="email" value="{{ session['user'].email }}" class="account-data editable">{{session['user'].email}}</span>
					</td>
				</tr>
				<tr>
					<td class="left-column">
						Contact No
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<span id="contact" value="{{ session['user'].contact }}" class="account-data editable">{{session['user'].contact}}</span>
					</td>
				</tr>
				</table>
				</div>
				<form action="{{ url_for('profile.profile_edit') }}" method="get">
					<input  type="submit" id ="profile-edit" value="Edit" class="save btn btn-primary edit-btn"/>
				</form>
			</div>
			<div class="row top-bottom-buffer">
				<div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center"><h1 class="page-header profile-heading"> Change Password</h1></div>
			</div>
			<div class="row bottom-buffer">
				<div class = "table-content">
				<form action="{{ url_for('profile.change_password')}}" method="post">
				<table class="table text-centered table-layout">
				<tr>
					<td class="left-column">
						Old &nbsp Password
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<input type="password" id="opasswd" name="opasswd" class="password-data" />
					</td>
				</tr>
				<tr>
					<td class="left-column">
						New &nbsp Password
					</td>
					<td class = "center-column">
						:
					</td>
					<td class = "right-column">
						<input type="password" id="npasswd" name="npasswd" class="password-data" />
					</td>
				</tr>
				</table>
					<input  type="submit" id ="change-passwd" value="Change" class="btn btn-primary edit-btn"/>
				</form>
				</div>
			</div>
			
		</div>
	  </div>
	</div>
</div>
{%- endblock %}